@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$bg-color: #1F2739;
$header-color: #FFF842;
$text-color: #A7A1AE;
$accent-color: #FB667A;

// $table-th-text: #185875;
$table-th-text: #287599;

$table-bg-one: #323C50;
$table-bg-two: #2C3446;
$table-bg-hover: #464A52;

$remove-bg-color: #a53125;
$remove-bg-hover: #c0392b;

$submit-bg-color: #13966c;
$submit-bg-hover: #1ab684;

$add-form-color: #c5ecfd;

.starting-title {
    text-align: center;
    color: $header-color;
}

body {
    box-sizing: border-box;
    background-color: $bg-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: $text-color
}

table {

    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;

    th {
        font-weight: bold;
        font-size: 1em;
        color: $table-th-text;
        background-color: $bg-color;
    }

    td {
        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;

        &:first-child {
            color: $accent-color;
            font-weight: 400;
        }
    }

    td,
    th {
        padding: 1%;
        overflow: hidden;
        text-align: center;
    }

    tr {
        transition: background-color .2s;

        &:nth-child(odd) {
            background-color: $table-bg-one;
        }

        &:nth-child(even) {
            background-color: $table-bg-two;
        }

        &:hover {
            background-color: $table-bg-hover;
        }
    }

}

.btn {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    outline: none;
    border: none;
    padding: 12px 24px;
    transition: all .2s;
}

.removeBtn {
    background-color: $remove-bg-color;
    color: white;

    &:hover {
        background-color: $remove-bg-hover;
    }
}

.addUserDiv {

    width: 50%;
    max-width: 496px;
    margin: 24px auto 0 auto;
    background-color: $table-bg-two;
    padding: 12px 24px 24px 24px;
    border-radius: 5px;

    form {

        display: flex;
        flex-direction: column;

        input {

            margin: 10px 0;
            background: transparent;
            border: 0px;
            border-bottom: 2px solid $text-color;
            padding: 10px;
            color: $text-color;
            outline: none;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                border: 1px solid rgba(255, 255, 255, 0.25);
                -webkit-text-fill-color: #000;
                -webkit-box-shadow: 0 0 0px 1000px rgb(232, 240, 254) inset;
                transition: background-color 5000s ease-in-out 0s;
            }

        }

        .submitBtn {
            background-color: $submit-bg-color;
            color: white;
            font-size: 1.2em;
            border: none;
            margin-top: 24px;


            &:hover {
                background-color: $submit-bg-hover;
            }
        }

    }
}